#set($allParams = $input.params())
#set($data = $input.path('$.data'))
#set($wanted = $util.urlDecode($input.params('doi')))
{
#foreach($set in $data)
	"$set.dataset" : {
	"title" : "$set.metadata.title",
	"dois" : $set.dois.values
	},
#end
	"specific" : [
#foreach($set in $data)
#if($set.dois.values.contains($wanted)) "$set.dataset" #end,
#end
    "end"
	]
}